services:
  db:
    image: postgres:latest
    restart: always
    env_file:
      - .env
    volumes:
      - ./dataset:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432
    networks:
      - container_network

  server:
    build: .
    depends_on:
      - db
    ports:
      - 8080:8080
    networks:
      - container_network

networks:
  container_network:
    driver: bridge
